.wrapper {
    min-width: 74px;
    height: 30px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 24px;
    background-color: #1890ff;
    color: white;
    border-radius: 8px;
    box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: #1890ff;
        border: 1px solid #1890ff;
    }
    .success {
        background-color: #15bb2b;
        &:hover {
            background-color: #0f6a1b;
        }
    }
}
