nav {
    width: 268px;
    min-height: 800px;
    border: 1px solid #ccc;
}

.nav__links {
    display: inline-block;
    padding: 20px;
    list-style: none;
}

.nav__item {
    height: 52px;
    width: 194px;
    padding: 16px;

    display: flex;
    align-items: center;

    color: #000;

    font-weight: 600;
    font-size: 14px;
}

.nav__item span {
    width: 24px;
    height: 24px;
    line-height: 28px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 8px;
}

.nav__active {
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 20px 27px rgb(0 0 0 / 5%);
    .nav__item span {
        background-color: #1890ff;
    }
}
