.wrapper {
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    //border: 1px solid #babfc7;
}

.table_styles {
    width: 100%;
    align-items: center;
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.padding {
    padding-left: 50px;
}